h1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 45px;
    text-align: center;
}

#map {
    margin-top: 60px;
    width: 75%;
    margin-left: 11%;
    height: auto;
    margin-bottom: 60px
}

#type {
    padding-top: 8px;
}

#name {
    padding-top: 8px;
}

.row {
    margin-top: 20px;
}

#user {
    margin-left: 60%;
}

